

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  line-height: 1.6;
  color: #20213d;
  overflow-y: hidden;
  overflow-x: hidden;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 20px;
  left: 12%;
  margin-top: 2em;
  font-weight: 700;
}

p a {
  color: #20213d;
  text-decoration: none;
}

p a:hover {
  color: limegreen;
}

img {
  width: 100%;
  transition: transform 0.5s;
  transform: scale(1);
}

img:hover,
img:focus {
  transform: scale(1.2);
}

h4 {
  margin: 0;
}

p {
  font-weight: 300;
  margin: 0;
  font-size: 1.8rem;

}

.carousel {
  width: 100%;
  max-width: 1200px;
  padding: 1em;
}

.carousel-item {
  display: none;
  animation: fadeVisibility 0.5s;
  position: relative;
}

.carousel-visible {
  display: flex;
  align-items: center;
  width: 100%;
}

.carousel-hidden {
  display: none;
}

.left {
  width: 50%;
  position: relative;
  z-index: 1;
  left: 0%;
 
}

.right {
  width: 45%;
  box-sizing: border-box;
  position: relative;
  z-index: -1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.details {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.first-user {
  max-width: 38%;
}

.second-user {
  max-width: 57%;
}

.name {
  font-weight: bold;
  font-size: 18px;
}

.role {
  color: hsl(240, 18%, 77%);
  font-weight: 500;
}

.actions {
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
  border-radius: 12px;
  justify-content: space-between;
  width: 6%;
  position: absolute;
  right: 0;
  top: 86%;
  left: 58%;
  background: white;
  line-height: 48px;
  border-radius: 48px;
  padding: 1em;
  z-index: 3;
}

.actions .prevSlide,
.actions .nextSlide {
  width: 12px;
  cursor: pointer;
}

.actions .prevSlide:hover,
.actions .nextSlide:hover {
  width: 15px;
}

/* fade animation  */
@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Shapes */
.pattern-curve {
  position: absolute;
  bottom: 0;
  left: 0;
}

.pattern-quote {
  position: absolute;
  top: 11%;
  left: 13%;
}

.pattern-bg {
  position: absolute;
  top: 18%;
  z-index: -2;
  left: 17%;
  width: 100%;
}

@media (max-width: 600px) {
  body {
    background: #2b283a;
    color: #ddebf8;
  }

  .footer {
    position: absolute;
    bottom: -4%;
    left: 7%;
    font-weight: 300;
  }

  p a:hover {
    color: rgb(110, 110, 40);
    font-weight: 500;
  }

  .carousel {
    max-width: 700px;
    margin: 0;
  }

  .carousel-visible {
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
    padding: 1em;
  }

  .left {
    width: 95%;
    order: 2;
    left: 0;
    text-align: center;
    padding: 0 0.8em;
    box-sizing: border-box;
    margin: 1em auto;
  }

  .right {
    width: 80%;
    order: 1;
  }

  .details {
    flex-direction: column;
    margin: 1em auto;
  }

  .name {
    font-size: 20px;
 
  }

  p {
    font-weight: 500;
    font-size: 17px;
  }

  .role {
    color: limegreen;
  }

  .pattern-curve {
    position: absolute;
    top: 95%;
  }

  .pattern-quote {
    position: absolute;
    top: 50%;
    left: 39%;
    width: 100px;
  }

  .first-user {
    max-width: 40%;
  }

  .second-user {
    max-width: 70%;
  }

  .actions {
    top: 40%;
    left: 38%;
    width: 15%;
  }
}

@media (max-width: 375px) {
  body {
    overflow: scroll;
  }

  .carousel-visible {
    justify-content: space-between;
  }

  .footer {
    top: 123%;
  }

  .left {
    margin: 5em auto;
  }

  .actions {
    top: 30%;
  }

  .pattern-quote {
    top: 48%;
    left: 39%;
    width: 90px;
  }

  .first-user {
    max-width: 60%;
  }

  .actions {
    top: 42%;
  }

  .details {
    margin: 2em auto;
  }

  .second-user {
    max-width: 75%;
  }

  .pattern-curve {
    top: 122%;
  }

  .name {
    font-size: 20px;
  }
}
